/* Mixin */

@mixin transparent-background {
    background-color: transparent;
}

@mixin no-radius {
    border-radius: 0;
}


@mixin scroll-margin ($min-height: scroll-margin-top) {
    scroll-margin-top: 200px;
}

/* include */

#searchBtn:hover {
    @include transparent-background;
    transform: scale(1.4);
    transition: 0.2s ease;
}

#addPost {
    @include no-radius;
}


#newPost {
    @include scroll-margin;
}