/* Mixin */

@mixin transparent-background {
    background-color: transparent;
}

@mixin no-radius {
    border-radius: 0;
}


@mixin scroll-margin ($min-height: scroll-margin-top) {
    scroll-margin-top: 200px;
}

/* include */

#searchBtn:hover {
    @include transparent-background;
    transform: scale(1.4);
    transition: 0.2s ease;
}

#addPost {
    @include no-radius;
}


#newPost {
    @include scroll-margin;
}

.form-error {
    display: none;
}

input:invalid + .form-error {
    display: block;
}

.collapse {
    &:not(.show) {
      display: none;
    }
  }
  
  .collapsing {
    height: 0;
    overflow: hidden;
    &.collapse-horizontal {
      width: 0;
      height: auto;
    }
  }

  .bg-image {
    background-image: url('https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 850px;
}