header {
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
    background-color: lightblue;
=======
>>>>>>> 55175540ef9b0913359ada51c9f57c93ea6ba8b2
    padding: 0 50px !important;
    margin-bottom: 100px !important;
}

nav {
    padding: 0 50px;
}

main {
    margin-top: 80px !important;
}

#searchBtn:hover {
    background-color: transparent !important;
    transform: scale(1.4);
    transition: 0.2s ease;
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> 55175540ef9b0913359ada51c9f57c93ea6ba8b2
}