header {
<<<<<<< Updated upstream
    background-color: lightblue;
=======
    padding: 0 50px !important;
    margin-bottom: 100px !important;
}

nav {
    padding: 0 50px;
}

main {
    margin-top: 80px !important;
}

#searchBtn:hover {
    background-color: transparent !important;
    transform: scale(1.4);
    transition: 0.2s ease;
>>>>>>> Stashed changes
}